.riskfactorsurvey {
    background-image: url('riskfactorsurvey.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    color: #35430e;
}

.btn-startrisksurvey {
    background-color: #7B8B50;
    border-color: #7B8B50;
    color: #edf3de;
}