<%- include("templates/header-back", {headerMessage: "Page Does Not Exist" }) %>

<div class="text-center pnf-container">
    <br>
    <br>
    <h1 class="display-4 dark-green">SORRY</h1>
    <img src="/images/objects/404.jpg" class="d-block w-100" alt="404 image">
    <h2 class="dark-green">The page you are looking for does not exist.</h2>
</div>

<%- include("templates/footer") %>