<!-- Header -->
<%- include("templates/header", {headerMessage: "Coming Soon" }) %>

    <!-- Customized Coming Soon page -->
    <div class="animated-text-container d-flex align-items-center justify-content-center mb-2">
        <div class="card border-0 align-items-center justify-content-center">
            <h3 class="dark-green"> Get Ready to Piece It Together!</h3>
            <div class="animated-text mb-5"> 
                <h1> Coming soon</h1>
            </div>
            <div class="mt-5 w-20 d-flex justify-content-center">
                <img src="/images/objects/puzzle.jpg" alt="puzzle" width="30%">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include("templates/footer") %>