<!-- Header -->
<%- include("templates/header", {headerMessage: "Edit Email" }) %>
    <!-- User name page  -->
    <form method="POST" action="update-email/<%= userId %>" class="mx-2 px-1">
        <div class="container py-2"></div>
            <div class="form-group border-1 dark-green-border my-5">
                <label for="email" class="text-start font-md">Email</label>
                <input type="email" class="form-control border-0 light-green-background font-lg focus" id="email"
                    name="email" placeholder="Enter your email" value=<%= userEmail %>>
                    <span class="error-message dark-pink text-start font-s">
                        <%= errorMsg %>
                    </span>
            </div>
        </div>

        <button type="submit" class="btn dark-green-background pill white-font font-lg">
            Save
        </button>
    </form>

    <!-- Validation toasts customization JS -->
    <script src="/scripts/customize_validation_toast.js"></script>