<!-- Header -->
<%- include("templates/header-back", {headerMessage: "Support" }) %>

<div class="support-container d-flex align-items-center justify-content-center my-2">
    <div class="card light-green-background border-0 px-2 font-md shadow">
        <p class="pt-3">Welcome to our Help and Support page!</p>
        <p>At <span class="dark-green">RecallRx</span>, we understand that mental health is important, and we are here to support you every
        step of the way. </p>
        <p class="pb-2">Whether you're experiencing technical issues, need guidance on how to use specific features, or simply want to share
        your feedback, we're just an email away.</p>
        <p class="pb-2"> Reach out to us at <a href="mailto:recallrxreset@gmail.com
        ?subject=Support request" class="email-link">recallrxreset@gmail.com</a>, and we will do our
        best to provide you with the assistance you need.</p>
    </div>
</div>

<!-- Footer -->
<%- include("templates/footer") %>
