<%- include("templates/header", {headerMessage: "Homepage" }) %>

<div class="homepagestyle" id="homepage" data-show-checkup-notification="<%= showCheckupNotification %>">
    <!-- hidden notification toasts for mmse questionnaire and exercise -->
    <div aria-live="polite" aria-atomic="true" class="toast-container w-100">
        <div class="toast toast-border mx-auto mb-2" id="checkup-notification" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header toast-bottom-border">
                <i class="fa fa-question"></i>
                <strong class="me-auto px-2">Checkup reminder</strong>
                <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close" id="mmse-toast-close"></button>
            </div>
            <div class="toast-body">
                Please take a moment to complete the MMSE questionnaire.
            </div>
        </div>
        <div class="toast toast-border mx-auto mb-2 pt-1" id="puzzle-notification" role="alert" aria-live="assertive" aria-atomic="true"  data-autohide="false">
            <div class="toast-header toast-bottom-border">
                <i class="fa fa-puzzle-piece"></i>
                <strong class="me-auto px-2">Exercise reminder</strong>
                <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                It's time for a daily challenge.
            </div>
        </div>
    </div>
    <!-- personal recommendation based on the user's responses to the risk factor survey, activity tracking and the MMSE questionnaire -->
    <div class="precom_homepage_card pink-less-transparent-background text-center">
        <h4>This is a place holder for personal recommendation of the day generated based on user data.</h4>
    </div>
    <!-- activity tracking section -->
    <div class="hptracking white-less-transparent-background">
        <!-- this part of code uses google material icon -->
        <h2 class="pact_tracking text-center">Activity Tracking</h2>
        <div class="hpicon-container">
            <!-- exercise tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        hiking
                    </span>
                </div>
                <span class="hpicon-text">Exercise</span>
            </div>
            <!-- social tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        connect_without_contact
                    </span>
                </div>
                <span class="hpicon-text">Social</span>
            </div>
            <!-- social tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        smoking_rooms
                    </span>
                </div>
                <span class="hpicon-text">Smoking</span>
            </div>
            <!-- alcohol consumption tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        liquor
                    </span>
                </div>
                <span class="hpicon-text">Alcohol</span>
            </div>
        </div>
    </div>
    <div class="button-container">
        <!-- redirect to daily game page -->
        <a href="#" class="hpbutton w-100 btn btn-lg dark-green-background white-font mt-3 mb-3">Daily Game</a>
        <!-- redirect to questionnaire page -->
        <a href="mmse-landing-page"
            class="hpbutton w-100 btn btn-lg dark-green-background white-font mt-3 mb-3">Questionnaire</a>
    </div>
</div>
<%- include("templates/footer") %>

<!-- Notifications toasts handlers JS -->
<script src="/scripts/reveal-hidden-elements.js"></script>