<%- include("templates/header", {headerMessage: "Homepage" }) %>

<div class="homepagestyle" id="homepage" data-easter-egg-activated="<%= isEasterEggActivated %>">
    <!-- personal recommendation based on the user's responses to the risk factor survey, activity tracking and the MMSE questionnaire -->
    <div class="precom_homepage_card pink-less-transparent-background text-center">
        <h4>This is a place holder for personal recommendation of the day generated based on user data.</h4>
    </div>
    <!-- activity tracking section -->
    <div class="hptracking white-less-transparent-background">
        <!-- this part of code uses google material icon -->
        <h2 class="pact_tracking text-center">Activity Tracking</h2>
        <div class="hpicon-container">
            <!-- exercise tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        hiking
                    </span>
                </div>
                <span class="hpicon-text">Exercise</span>
            </div>
            <!-- social tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        connect_without_contact
                    </span>
                </div>
                <span class="hpicon-text">Social</span>
            </div>
            <!-- social tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        smoking_rooms
                    </span>
                </div>
                <span class="hpicon-text">Smoking</span>
            </div>
            <!-- alcohol consumption tracking section -->
            <div href="#" class="hpiconset">
                <div class="hpicon dark-green-background">
                    <span class="material-symbols-outlined white-font">
                        liquor
                    </span>
                </div>
                <span class="hpicon-text">Alcohol</span>
            </div>
        </div>
    </div>
     <div class="container-fluid  mb-5 pb-2">
        <div class="scrolling-wrapper row flex-row flex-nowrap pb-2 d-flex align-items-center justify-content-center">
            <!-- <div class="card card-body dark-green-background mx-2"> -->
            <div class="col-5 btn-shadow easter-egg d-none">
                <div class="card card-block easter-egg-animation d-flex align-items-center justify-content-center">
                        <a href="meditation" class="white-font reset-style pt-1 w-100 h-100 d-flex align-items-center justify-content-center flex-column ">
                            <i class="fa fa-music white-icon"></i>
                           <p>Meditation</p> 
                        </a>
                    </div>
            </div>
            <!-- <div class="card card-body dark-green-background mx-2"> -->
                <div class="col-5">
                    <div class="card card-block dark-green-background d-flex align-items-center justify-content-center">
                        
                        <a href="mmse-landing-page" class="white-font reset-style pt-1 w-100 h-100 d-flex align-items-center justify-content-center flex-column "> 
                            <i class="fa fa-question white-icon"></i>
                           <p>Questionnaire</p> 
                        </a> 
                    </div>
                </div>
            <!-- <div class="card card-body dark-green-background mx-2"> -->
            <div class="col-5">
                <div class="card card-block dark-green-background d-flex align-items-center justify-content-center">
                    <a href="#"
                        class="white-font reset-style pt-1 w-100 h-100 d-flex align-items-center justify-content-center flex-column ">
                        <i class="fa fa-puzzle-piece white-icon"></i>
                        <p>Daily Game</p>
                    </a>
                </div>
            </div>
        </div>
    </div> 
    <div class="placeholder mb-2"></div>
</div>
<%- include("templates/footer") %>

<!-- Popup -->
<% if (showPopUp) { %>
    <div id="backdrop" class="d-flex align-items-center justify-content-center">
        <%- include("templates/easter-egg-popup", {data: data}) %>
            <% console.log("show popup") %>
    </div>
    <% } %>

<!-- Handle popup JS -->
<script src="/scripts/handle-easter-egg-popup.js"></script>

<!-- Reval hidden elements JS -->
<script src="/scripts/reveal-hidden-elements.js"></script>