<%- include("templates/header", {headerMessage: "Log Out", headerSize: "h2" }) %>
<div class="text-center logoutscreen">
    <h1 class="mb-3">You are logged out.</h1>
    <a href="/" class="btn btn-lg btn-light btn-startrisksurvey fw-bold">Go Back To Index Page</a>
</div>
<%- include("templates/footer") %>