<%- include("templates/header", {headerMessage: "Log Out", headerSize: "h2" }) %>

<!-- shows the user that they have logged out of the app -->
<div class="logoutscreen">
    <div class="text-center">
        <h1 class="mb-3">You are logged out.</h1>
        <!-- allow users to return to the index page to log back in/sign up for new account -->
        <a href="/" class="btn btn-lg btn-light btn-startrisksurvey fw-bold">Go Back To Index Page</a>
    </div>
</div>


<%- include("templates/footer") %>