<%- include("templates/header-back", {headerMessage: headerMessage }) %>

    <br><br>
    <div class="card mx-auto rounded">
        <div class="card-body">
            <h4>What year is it?</h4>
            <div class="text-boxes">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
            </div>
            <br>
            <h4>What month is it</h4>
            <h4> (as a 2-digit number)?</h4>
            <div class="text-boxes">
                <input type="text" maxlength="2" style="width: 40%">
            </div>
            <br>
            <h4>What day of the week is it?</h4>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="spinner">
                        <button class="up spinner-btn">&#9650;</button>
                        <input type="text" class="spinner-value" value="Monday" readonly>
                        <button class="down spinner-btn">&#9660;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <%- include("templates/mmse-footer", {questionType : "orientation" , mmseBtnText: "Next" , reference
        : "../../mmse-object-recall" }) %>