<%- include("templates/header-back", {headerMessage: headerMessage }) %>

    <br><br>
    <div class="card mx-auto rounded">
        <div class="card-body">
            <h3>Press the listen <i class="material-icons">&#xe023;</i> button and type the sentence you hear into the
                text
                box below then click submit.</h3>
            <br>
            <div class="d-flex justify-content-center">
                <button class="btn btn-lg btn-submit btn-block btn-speak btn-mmse" onclick="speak()">Listen <i
                        class="material-icons">&#xe023;</i></button>
            </div>
            <br><br>
            <input type="text" class="form-control border-0 light-green-background font-lg focus mmse-text-box"
                id="mmse-input" placeholder="Type what you heard here">
        </div>
    </div>
    <br><br>
    <%- include("templates/mmse-footer", {questionType : "sentence-recall" , mmseBtnText: "Next" }) %>