<!-- Header -->
<%- include("templates/header") %>
<div class="my-5 mx-auto">
    <!-- Notifications Page -->
    <!-- Exercise notifications  -->
    <div class="card light-green-background dark-green-border">
        <div class="container p-0">

            <div class="d-flex">
                
                <div class="p-2">
                    <label class="form-label m-0">Exercise notifications</label>
                </div>
                <div class="ms-auto p-2 form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="exercise-frequency-toggle-switch">
                </div>
            </div>

                   
        </div>
    </div>

    <!-- Checkup notifications  -->
    <div class="card light-green-background dark-green-border my-2">
        <div class="container p-0">
    
            <div class="d-flex">
    
                <div class="p-2">
                    <label class="form-label m-0">Checkup notifications</label>
                </div>
                <div class="ms-auto p-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="checkup-toggle-switch" >
                </div>
            </div>
    
            
        </div>
    </div>

</div>


<!-- Footer -->