<%- include("templates/header", {headerMessage: "Reset Password" }) %>

    <form method="POST" action="" class="mx-2 px-1">
        <div class="container py-2">
            <div class="form-group border-1 dark-green-border mt-3">

            <div class="h2 fw-normal py-3">
                <span class="font-s"> Reset password for </span>
                <span class="dark-green"> <%= userName %></span>
            </div>
                <label for="name" class="text-start font-md">New password</label>
                <input type="password" class="form-control border-0 light-green-background font-lg focus" id="password"
                    name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group border-1 dark-green-border my-2">
                <label for="name" class="text-start font-md">Confirm password</label>
                <input type="password" class="form-control border-0 light-green-background font-lg focus"
                    id="confirmPassword" placeholder="Enter your password" required>
            </div>
            <div class="error dark-pink d-none" id="error-message">
                <p> Passwords don't match.</p>
            </div>

            <button type="submit" class="btn dark-green-background pill white-font font-lg my-4 hover-white-f" id="submitButton">
                Reset password
            </button>
        </div>
    
    </form>


<!-- Default password validation JS -->
<script src="/scripts/customized_password_validation_toast.js"></script>