<%- include("templates/header", {headerMessage: "Risk Factor Survey" }) %>

<!-- Clicking on the "Start The Survey" button will take the user to the survey questions page. -->
<div class="text-center riskfactorsurvey">
    <h2>Ready to optimize your cognitive health?</h2>
    <p>Let's start by answering a few questions.</p>
    <p class="lead">
        <a href="/riskfactorquestions" class="btn btn-lg btn-light btn-startrisksurvey fw-bold">Start The Survey</a>
    </p>
</div>
<%- include("templates/footer") %>