<%- include("templates/header", {headerMessage: "Risk Factor Survey" }) %>

<!-- Clicking on the "Start The Survey" button will take the user to the survey questions page. -->
<div class="text-center riskfactorsurvey">
    <h2>Ready to optimize your cognitive health?</h2>
    <p>Let's start by answering a few questions.</p>
    <!-- redirect users to the risk factor survey questions page -->
    <a href="/riskfactorquestions">
        <button type="submit" class="btn btn-lg btn-light btn-success btn-startrisksurvey fw-bold">Start The
            Survey</button>
    </a>
</div>

<%- include("templates/footer") %>