<%- include("templates/header", {headerMessage: "Sign Up" }) %>

<!-- This block of code is modified from COMP 2537 Assignment 2 by Shuyi Liu, with size and color adaptation made. The function validateForm() is written with assistance of chatGPT -->

<div class="signupsetting">
    <div class="text-center">
        <!-- perform the sign up app.post method so that the user's information can be stored in the database -->
        <form class="form-signup" action="/signup" method="post" onsubmit="return validateForm();">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <!-- users are required to enter their username, email address and password to sign up for an account. -->
            <input name="username" type="text" placeholder="Username">
            <input name="email" type="email" placeholder="Email address">
            <input name="password" type="password" placeholder="Password">
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-submit" type="submit">Submit</button>
            <div class="text-center pb-3">
                <p class="px-2">Already have an account? <a href="login" class="dark-green">Log In</a></p>
            </div>
        </form>
    </div>

    <!-- Modified bootstrap modal, which is used to show the error message when users are missing fields when entering sign up information. -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Error</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Using array to store the missing fields, and then join them with a comma and space to form a string. Written with assistance from chatGPT -->
    <script>
        function validateForm() {
            var username = document.getElementsByName("username")[0].value;
            var email = document.getElementsByName("email")[0].value;
            var password = document.getElementsByName("password")[0].value;

            // check if the user miss any of the fields
            var missingFields = [];

            if (!username) {
                missingFields.push("Username");
            }
            if (!email) {
                missingFields.push("Email");
            }
            if (!password) {
                missingFields.push("Password");
            }

            // if user miss any of the fields, the error message will show up.
            if (missingFields.length > 0) {
                $("#errorMessage").html("Please provide " + missingFields.join(", ") + ".");
                $("#myModal").modal("show");
                return false;
            }

            return true;
        }
    </script>

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Popper JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>
</body>

</html>