<%- include("templates/header", {headerMessage: "Survey Submitted" }) %>

    <!-- this page is shown when the user has completed the survey -->
    <div class="thank-you-page d-flex justify-content-center align-items-center light-green-background"
        style="height: 80vh;">

        <div class="thank-you-content container bg-light p-5 rounded text-center">
            <!-- inform the user that their responses have been submitted -->
            <h2 class="mb-4">Thank you for completing the survey!</h2>
            <p style="font-size: large">According to your results, there is a <span style="font-weight: bold">
                    <%= risk %>%
                </span>
                chance that you currently have dementia. Click on the button below to complete your first
                check up.</p>
            <div class="mt-4">
                <!-- allow the user to go to the homepage -->
                <a href="/mmse-landing-page" class="btn btn-lg btn-primary btn-block btn-submit">Check Up</a>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>