<%- include("templates/header", {headerMessage: "Survey Submitted" }) %>

<div class="thank-you-page d-flex flex-column justify-content-center align-items-center"
    style="background-image: url('thankyou.jpg'); background-size: cover;">

    <div class="container bg-light p-5 rounded">
        <h2 class="text-center mb-4">Thank you for completing the survey!</h2>
        <p>Your responses have been submitted.</p>
    </div>

</div>

<%- include("templates/footer") %>