<div class="popup-container light-green-background mx-3 my-4 text-center b-radius shadow">
    <div class="popup px-3 py-3 mb-0" id="popup">
        <h2 class="dark-green"> Congratulations!</h2>
        <p> <%= data %></p>
    </div>
    <button type="button" class="btn popup-btn px-5 dark-green-background mb-0 white-font hover-white-f block"> OK
    </button>
</div>