</body>
<footer class="footer bg-light fixed-bottom">
    <div class="container text-center">
        <span class="text-muted">Copyright © 2023
            <a href="#">Kelly Hagg</a>
        </span>
    </div>
</footer>

</html>