<footer class="footer fixed-bottom align-items-center">
    <div class="align-items-center">
        <ul class="nav align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span style="font-size: 2em; color: #778251;">
                        <i class="fas fa-running"></i>
                    </span>
                    <p>Activities</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mmse-landing-page">
                    <span style="font-size: 2em; color: #778251;">
                        <i class="far fa-chart-bar"></i>
                    </span>
                    <p>Checkup</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="homepage">
                    <div class="home-button">
                        <span style="font-size: 2em; color: #f5f5f5;">
                            <i class="fas fa-home"></i>
                        </span>
                        <p style="color: #f5f5f5;">Home</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span style="font-size: 2em; color: #778251;">
                        <i class="fas fa-puzzle-piece"></i>
                    </span>
                    <p>Puzzle</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">
                    <span style="font-size: 2em; color: #778251;">
                        <i class="fas fa-user-cog"></i>
                    </span>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>

</html>