.dark-green{
    color: #7B8B50;
}

.light-green {
    color: #EDF3DE;
}

.dark-pink {
    color: #D88A63;
}

.white-font{
    color:white;
}

.dark-green-background {
    background-color: #7B8B50;
}

.light-green-background {
    background-color: #EDF3DE;
}

.dark-green-border {
    border-color: #7B8B50;
}

.light-green-border {
    border-color: #EDF3DE;
}

a.reset-style {
    text-decoration: none;
}

a.link  {
    font-weight: 500;
}

div.form-group {
    border-bottom: 1px;
}

.transparent-background {
    background-color: transparent;
}

.button-padding {
    padding-left: 12px;
    padding-right: 12px;
}

.group-height {
    height: 36px;;
}

.block {
    display: block;
    height: 100%;
    width: 100%;
}

.rounded-circle,
.header-icon {
    height: 5em;
    width: 5em;
    font-size: 1.5em
}


.focus:focus {
    background-color: #EDF3DE;
    box-shadow: none;
}

.active-btn:active {
    font-weight: 600;
}

/* Edit pages style  */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3rem;
    padding-left: 12px;
    color: #25271C;
}

.font-md {
    font-size: 1.1em;
}

.font-lg {
    font-size: 1.3em;
}

/* Button */
.pill {
    width: 100%;
}